Repository kabirbaidhya/webpack-file-preprocessor-plugin, pull requests merged in 2019-10, with the labels that each got.

#12 Add simple example
  examples/html-minifier/.gitignore
  examples/html-minifier/package-lock.json
  examples/html-minifier/package.json
  examples/html-minifier/src/index.html
  examples/html-minifier/webpack.config.js
Labels: example

#14 Configure eslint, prettier, reformat codebase and resolve lint issues
  .babelrc
  .codeclimate.yml
  .editorconfig
  .eslintrc
  .prettierrc
  README.md
  examples/html-minifier/package-lock.json
  examples/html-minifier/webpack.config.js
  examples/html-minifier/yarn.lock
  index.js
  package.json
  src/WebpackFilePreprocessorPlugin.js
  src/util.js
  yarn.lock
Labels: dependencies, enhancement

#15 Update dependencies
  .babelrc
  .eslintignore
  package.json
  yarn.lock
Labels: dependencies, enhancement

#16 Add jest and Continuous Integration with Travis
  .eslintrc
  .gitignore
  .travis.yml
  package.json
  test/WebpackFilePreprocessorPlugin.test.js
  test/util.test.js
Labels: ci, test

#20 Integrate codecov for code coverage
  .travis.yml
  package.json
  yarn.lock
Labels: ci

#21 Aesthetic changes and license update
  LICENSE
  test/util.test.js
Labels: enhancement

#22 Integrate CI build and code coverage badges in the README
  README.md
Labels: documentation, enhancement

#23 [Issue-17] Add project using webpack-file-preprocessor-plugin to minify javascript <Anusha>
  examples/js-minifier/.gitignore
  examples/js-minifier/package.json
  examples/js-minifier/src/index.js
  examples/js-minifier/webpack.config.js
  examples/js-minifier/yarn.lock
Labels: example

#25 Update documentation and examples
  README.md
  examples/html-minifier/README.md
  examples/html-minifier/misc/screenshot.png
  examples/js-minifier/README.md
  examples/js-minifier/misc/screenshot.png
  examples/js-minifier/package.json
  examples/js-minifier/webpack.config.js
  examples/js-minifier/yarn.lock
Labels: documentation, example

#26 Add CSS Minification Example
  README.md
  examples/css-minifier/.gitignore
  examples/css-minifier/README.md
  examples/css-minifier/misc/css-minifier.png
  examples/css-minifier/package.json
  examples/css-minifier/src/style.css
  examples/css-minifier/webpack.config.js
Labels: example, needs improvements
